Broadcast query flood from JmDNS when multiple responders register services

When multiple services respond to a broadcast query created by JmDNS, , JmDNS responds by sending more queries (one new query for each responder).  This causes a packet flood for a short burst.  Unfortunately, since JmDNS is incorporated in many products, this "flood" increases with each new instance of JmDNS.

Ultimately I witnessed my wireless network generate so much mDNS traffic from just this issue, that it decreased the performance to near zero with only 6 applications and 6 responders.

JmDNS should follow the guidance in the RFC 6762 section 7 regarding traffic reduction.  If another instance of JmDNS has already sent a query request for an interested service, it should not send anymore, and simply listen for the other instance's response.

Also, it should not generate new requests for each service registered (not sure why it is doing this, however, it is observable with wireshark and a simple test program that just adds one service and waits).

Simple test:
1)create a small application that requests a single named service. (I used _arduino._tcp.local)
2)have 6 servers (i used 6 cheap ESP8266 devices running the BasicOTA example)
3)start 6 copies of item 1 to simulate 6 applications.
4) observe large packet flood for several seconds

Since some tools stop and restart JmDNS (like Arduio IDE) to force a re-detection every 5 seconds, this can cause an infinite flood and cripple the network.

- kurt



@kurtgo if I follow this (seeing the change made in arduiono) correctly it was resolved by moving from jmdns 3.5.1 to jmdns 3.5.3 ? Not sure exactly which change resolved this :( I might be in a situation where I need to backport this to an older version as 3.5.x requires a "newer" (1.6+) jvm.